@use '../base/variables' as v;
@use '../base/mixins' as m;

/*--------------------------------------------------------------------------*/
/*PROCESO*/
.proceso-cocktail{
    margin-bottom: 2rem;
    &:last-of-type{
        margin-bottom: 0;
    }
    // &:nth-child(2),
    &:nth-child(2n){
        .texto{
            order: 1;
        }
        .imagen{
            order: 2;
        }
    }
    img{
        width: 60rem;
    }
    @include m.tablet{
        display:flex;
        gap:v.$separacion;
        align-items: center;
    }
    .imagen,
    .texto{
        flex: 1;
    }
    .texto{
        margin-top: 1rem;
        h3{
            margin: 0;
            text-align: left;
            color: v.$primario;
            font-size: 2.4rem;
            
            &::after{
                content: '';
                display: block;
                width: 50%;
                height: 4px;
                background-color: v.$secundario;
            }
        }
    }
}
