@use '../../base/variables' as v;
@use '../../base/mixins' as m;
/*---------------------------------------------------------------*/
/*TESTIMONIAL-BLOG*/
.testimoniales-blog{
    margin-top: 5rem;
    @include m.desktop{
        @include m.grid(3,4rem);
    }
    &__blog{
        @include m.desktop{
            grid-column: 2/4;
        }
    }
    &__heading{
        @include m.heading(true);
    }
}
.testimonial{
    text-align: justify;
    &__imagen{
        width: 20rem;
        margin: 0 auto;
    }
    &__contenido{
        background-color: v.$blanco;
        margin-top: -10rem;
        padding: 10rem 2rem 2rem 2rem;
    }
    &__nombre{
        text-align: center;
        font-size: 2.4rem;
        font-weight: 700;
    }
    &__texto{
        &::before{
            content: '';
            background-image: url(../img/quote.svg);
            background-repeat: no-repeat;
            background-position: center;
            margin-right: 1rem;
            display: inline-block;
            width: 3rem;
            height: 3rem;
        }
    }
}
