@use '../base/variables' as v; 
@use '../base/mixins' as m; 

.text-center {
    text-align: center;
}

.bg-primario {
    background-color: v.$primario;
}
.seccion{
    padding: 3rem .5rem;
    @include m.tablet{
        padding: 6rem 0;
    }
}