@use '../base/mixins' as m;
/*--------------------------------------------------------------------------*/
/*BARRA*/
.barra{
    display: flex;
    flex-direction: column;
    @include m.tablet{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        width: 65%;
        margin: 0 auto;
        @include m.tablet{
            width: 23rem;
            margin: 0;
        }
    }
}