$colorRojo : blue;
$colorGreen: green;
$colorGris: #000000;
$colorYellow: yellow;
$colorOrange: orange;
.contenedor{
    margin: 0 auto;
}
body{
    background-color: $colorRojo;
}
h1{
    background-color: $colorGreen;
}
h2{
    background-color: $colorGris;
}
h3{
    text-align: center;
    color: yellow;
}
h4{
    background-color: $colorOrange;
}