@use '../base/variables' as v;
@use '../base/mixins' as m;
/*--------------------------------------------------------------------------*/
/*CONTENIDO*/
.contenido-principal{
    background-color: v.$grisClaro;
    padding: 3rem;
    @include m.tablet{
        padding: 10rem;
        margin-top: -10rem;
        position: relative;
    }
}