@use '../base/variables' as v;
@use '../base/mixins' as m;
/* ------------------------------------------------------------------ */
/*BOTONES*/
.boton-primario{
    @include m.boton(v.$primario,v.$secundario);
}
.boton-plan{
    @include m.boton(v.$primario,v.$secundario);
    border: 1.5px solid v.$blanco;
    margin-top: 2rem;
    @include m.tablet{
        display:block;
    }

    // margin: 2rem auto 0 auto;
}