@use '../base/variables' as v;
@use '../base/mixins' as m;
/* ------------------------------------------------------------------ */
/*HEADER*/
.header{
    @include m.bgImage('../img/header.jpg',v.$secundarioOpacity);
    padding: 5rem 0;
    &__logo{
        max-width: 20rem;
        margin: 0 auto;
        @include m.tablet{
            margin: 0;
        }
    }
    &__contenido{
        // margin-top: 10rem;
        padding: 10rem 0;
        @include m.desktop{
            // margin-top: 15rem;
            padding: 15rem 0;
        }
    }
    &__heading{
        color: v.$blanco;
        font-size: 3.8rem;
        @include m.tablet{
            font-size: 4.5rem;
            max-width: 50%;
        }
        @include m.desktop{
            max-width: 37%;
        }
    }
}