html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}
/* Glocales */
a{
    text-decoration: none;
    color: #000;
}
img{
    max-width: 100%;
}

.contenedor{
    max-width: 1200px;
    margin: 0 auto 0 auto;
}

.nombre-sitio{
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}
.nombre-sitio span{
    color: #ee4a4a;
}

.contenedor-navegacion{
    border-top: 1px solid #e1e1e1;
}

.nav-principal{
    display: flex;
    padding: 20px 0 20px 0;
    flex-direction: row;
    justify-content: space-between;
}
.hero{
    background-image: url(../img/licores/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

/* Categorias */
.listado-categorias{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}