/*--------------------------------------------------------------------------*/
/*UTILIDADES*/
@use '../base/variables' as v;
.text-center{
    text-align: center;
}
.bg-primario{
    background-color: v.$primario;
}
.bg-color-white{
    background-color: v.$grisClaro;
}
.padding-bottom-0{
    padding-bottom: 0;
}
.margin-negativo{
    margin-top: -10rem;
}