/*--------------------------------------------------------------------------*/
                                /*UTILIDADES*/
@use 'variables' as v;
.text-center{
    text-align: center;
}
.bg-primario{
    background-color: v.$primario;
}
.bg-color-white{
    background-color: v.$grisClaro;
}