// FUENTES
$fuentePrincipal:'Raleway', sans-serif;
$fuenteSecundaria: 'Roboto', sans-serif;
$fuenteCursiva: 'Bona Nova', serif;

// MEDIA QUERIES
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// COLORES
$primario: #9847e9;
// $secundario: #C39C63;
$secundario: #cf1a4b;
$terciario: #09f7ebd0;
$negro: #000000;
$blanco: #FFFFFF;
$grisClaro: #eceeef;
$cafeClaro: #ebe7de;

// UNIDADES
$separacion: 5rem;